{%extends 'base.html'%}

{%block cssfile%} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='query4.css') }}">
{%endblock%}

{%block query%}
    <p class = "texto">
        <ul>            
            <h2 class = query_title><b>Top 20 artistas con más canciones</b></h2>    
            <p></p>
            {% for artista in artistas %}            
                <li class = lista>{{artista[0]}} con {{artista[1]}} canciones.</li>
                <li class = lista></li>
            {% endfor %}
        </ul>
    </p>
{%endblock%}